python-dotenv
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python==1.2.3
selenium
mtranslate
pygame
edge-tts
PyQt5
ddgs
fal_client
pyperclip
webdriver-manager
gunicorn
